<!DOCTYPE html>
<html>
	<head>
	  <title>Da' Books Store</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body class='<%= controller.controller_name %>'>
		<div class="banner">
			<%=
			if false
				image_tag("icon.png") 
			end
			 %>
			<%= @page_title || "Pragmatic Bookshelf" %>
		</div>
		<div class="columns">
			<div class="side">
				<ul>
					<li><a href="">Home</a></li>
					<li><a href="">Questions</a></li>
					<li><a href="">News</a></li>
					<li><a href="">Contact</a></li>
				</ul>
			</div>
			<div class="main">
				<%= yield %>
			</div>
		</div>
	</body>
</html>
